<% content_for :title, "New Pub" %>

<h1 class="text-center">New Pub</h1>

<%= render "form", publication: @publication %>

<hr>

<div>
  <%= button_to "Go back to Publications", publications_path, method: :get %>
</div>
