<nav id="navbar">
  <div class="text-center">
    <% if user_signed_in?%>
        <% if @photo != nil %>
          <%= image_tag current_user.photo %>
        <% end %>
        Hola <%= current_user.email %>
        <hr>
        <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
    <% end%>
  </div>
</nav>