/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root{
  --BGD: white;
  --BGD_BOX: rgba(255, 255, 255, 0.5);
 }

 #imgHome{
  text-align: center;
  margin: 40vh auto;
  >img{
    height: 15vh;
    width: auto;
  }
 }

 #navbar{
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.15);
  border: 5px double black;
  padding: .5vw;
 }

 .text-center{
  text-align: center;
 }

.center{
  margin: 0 auto;
}

.tablero{
  >*{
    border: 5px solid black;
    padding: 2.5vh 2vw;
    margin-bottom: 2vh;
  }
  >div:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
  }
}

h1{
  font-weight: bold;
}

textarea{
  width: 50%;
  height: 10rem;
}

.button, button{
  padding: .5rem .75rem;
}

.button_to{
  display: flex;
  justify-content: space-evenly;
}

.blok{
  border: 5px double black;
  margin: 3rem auto;
  padding: 1rem 3rem;
}

#flotante{
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--BGD_BOX);
}